*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}
html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0 0 0 0;
    padding: 0px;
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    background-color: #FFFEF4;
    color: #222222;
    font-family: "Kanit", sans-serif;
    a{
        text-decoration: none;
    }
}

/*HEADER*/
.header{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 4;
    height: 75px;
    min-width: 100%;
}

.main{
    width: 100%;
}

    .bannerOferta{
        position: static;
        background-color: #000000;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        top: 0px;
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 12px;
        }
      
        .bannerMenu{
        position:static;
        background-color: #80b8b4;
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        height: 50px;
        padding-inline-start: 10px;
        padding-inline-end: 10px;
        top:25px;
        width: 100%;
        border-bottom: 2px solid #000000;
    }
        .logoHeader img{
        margin-top: 5px;
        height: 2rem;
        }
    
        
        .headerMenu li{
            border-right: 1px solid #222222;
            list-style:none;
            float: left;
            font-size: 1rem;
            font-weight: 600;
            padding-right: 10px;
            padding-left: 10px;
        }
        
        .headerMenu li:last-child {
            border-right:none;
            padding-right: 20px;
        }
        .currentPage{
            border-bottom: 1px solid}
        .iconoCarrito img{
            height: 15px;        }
        .iconoAyuda IMG{
            height: 18px;
            padding-top: 2px;        }
        .headerMenu a {
            color: #222222;
            text-decoration: none;        }

a:hover {
    color: #FFFEF4; }



/*FOOTER*/
footer{
    margin-top: auto;
}
.footerOptions{
    background-color: #222222;
    text-decoration: none;
    width: 100vw;
    color: #fffef4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 30px 0px 30px 0px;
}
    .listOtrasConsultas{
    }
    .listContacto{
        justify-content: left;
    }
        .listRRSS img{
            height: 20px;
        }
        .listRRSS li{            
            justify-content: space-between;
            padding-right: 5px;
            float:inline-start;
        }
    .footerOptions li{
        list-style: none;
        padding-top: 10px;  
    }
    .footerOptions a{
        color: #FFFEF4;
        text-decoration: none;
    }
    .footerOptions a:hover{
        color: #faeeb1;
    }
.bannerFinal {
    background-color: #222222;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.bannerFinal li{
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}
.bannerFinal a{
    text-decoration: none;
}

@media (max-width: 480px){

    .bannerMenu{
        position:static;
        background-color: #d0ff00;}
    .bannerOferta{
        height: 15px;
        width: 100%;
        font-size: 8px;
        }
    
}